<template>
<div>
  
  <v-data-table
    :headers="headers"
    :items="items"
    class="elevation-1 tabla"
    hide-default-footer
    calculate-widths 
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title v-if="$vnode.key === 'orders'">Carrito</v-toolbar-title>
        <v-toolbar-title v-if="$vnode.key === 'pendings'">Pendientes</v-toolbar-title>
      </v-toolbar>
    </template>
    
    <template v-slot:item.color="props">
    <td class="">{{ props.item.base_curve || props.item.cylinder || props.item.addition || props.item.color }}</td>
    </template>
     <template v-slot:item.axis="props">
    <td class="">{{ props.item.axis || props.item.dominance }}</td>
    </template>

    <template v-slot:item.action="{ item }">
      <v-icon
        small
        @click="deleteItemRow(item)"
      >
        delete
      </v-icon>
    </template>

  </v-data-table> 

  <v-textarea
    v-model="notes"
    label="Comentarios"
    v-on:change="addNotes({notes: notes, order_type: $vnode.key})"
  ></v-textarea>

</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'


export default {
  data () {
    return {
      headers: [
        {text: 'Lente', value: 'product_name', width: '50px', align: 'left'},
        {text: '', value: 'graduation', width: '40px', align: 'center'},
        {text: '', value: 'color', width: '4px', align: 'center'},
        {text: '', value: 'axis', width: '4px', align: 'center'},
        {text: 'Caja', value: 'box', width: '4px', sortable: false, align: 'right'},
        {text: 'Blis', value: 'blister',width: '4px', sortable: false, align: 'right'},
        {text: 'Caso', align: 'left', sortable: false, value: 'patient_case', width: "4px", align: 'center'},
        {text: 'Actions', value: 'action', sortable: false}
      ],

      notes: '',
      max25chars: v => v < 5 || 'Stock insuficiente',
      // requiredRule: [ v => !!v || 'Elija una opción' ]
    }
  },
  methods: {
    ...mapActions(['fetchItems', 'addNotes', 'deleteItem']),

    deleteItemRow(row) {
      let item = {}
      item.index = this.items.indexOf(row)
      item.order_type = [this.$vnode.key]
      this.deleteItem(item)
    }
   
  },
  computed: {
    ...mapGetters(['orders', 'pendings']),
    items: function() { return this[this.$vnode.key]}
  },

}

</script>

<style scoped>


</style>
