<template>
    <v-form v-model="valid" ref="form">
    <v-container>
      <v-layout>
        <v-flex xs12 md3>
          <v-autocomplete
            v-model="account"
            label="Nro de cuenta"
            :items="clients"
            item-text="account"
            return-object
            v-on:change="fillClient($event)"
            :rules="requiredRule"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 md3>
          <v-autocomplete
            v-model="nickname"
            label="Nombre"
            :items="clients"
            item-text="nickname"
            return-object
            v-on:change="fillClient($event)"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 md3>
          <v-autocomplete
            v-model="business_name"
            label="Razón Social"
            :items="clients"
            item-text="business_name"
            return-object
            v-on:change="fillClient($event)"
          ></v-autocomplete>
        </v-flex>

        <v-flex md3>
          <v-text-field
            v-model="contact"
            label="Contacto"
            v-on:change="addContact(contact)"
          >
          </v-text-field>
        </v-flex>
      </v-layout>
  </v-container>
    </v-form>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data: function() {
    return { 
      valid: false,

      account: '',
      nickname: '',
      business_name: '',
      contact: '',

      clients: [],

      requiredRule: [ v => !!v || 'Elija una opción' ],

    }
  },
  methods: {
    async fecthClientsData() {
      const url = 'http://localhost:3000/api/cart/'
      const clientsData = await fetch(`${url}getClientsData`);
      this.clients = await clientsData.json()
    },
    ...mapActions(['addClient', 'addContact']),
    fillClient: function(event) {
      this.account = event.account;
      this.nickname = event.nickname;
      this.business_name = event.business_name;
      this.addClient({account: this.account})

    },
    
  },
  computed: {
    ...mapGetters(['client']),
    validate: function() {return this.validateProp}
  },
  created: function () {
    this.fecthClientsData();
  },

}
</script>

<style>

</style>
