<template>
  <div>
    <v-layout>
      <v-switch v-model="deliver" :label="switchLabel"></v-switch>

      <v-menu
      v-model="menu"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      full-width
      min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="shipping_date"
            label="Fecha de envío"
            prepend-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
      
        <v-date-picker
          v-model="date"
          :min="new Date().toISOString().substr(0, 10)"
          :allowed-dates="allowedDates"
          @input="menu2 = false"
          locale="es-419"
          v-on:change="setDate(shipping_date)"
          :rules="requiredRule"
          :disabled="disableDate"
        ></v-date-picker>
      </v-menu>
    </v-layout>
    <v-layout>
      <v-autocomplete ref="shippingType" :disabled="disableDate" v-model="shipping_type" label="Destino" :items="shipping_options" v-on:change="setShippingType(shipping_type)" :rules="requiredRule"></v-autocomplete>
      
      <div>
          <v-btn raised color="primary" v-on:click="confirmOrder()">Confirmar</v-btn>
      </div>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

  export default {
    data: () => ({
      shipping_date: new Date().toISOString().substr(0, 10),
      menu: false,
      date: null,
      shipping_type: '',
      shipping_options: ['Capital','Provincia','Interior','Comisionista'],

      requiredRule: [ v => !!v || 'Elija una opción' ],

      deliver: true,
      disableDate: false
    
    }),
    methods: {
      async confirmOrder() {
        // Validations
        if (
          !this.client.client_account ||  // No client Selected
          (!this.orders[0] && !this.pendings[0]) || // Both Order and Pending carts empty
          (this.orders[0] && !this.shipping_date) || // No shipping date
          (this.orders[0] && this.shipping_date != 'Esperar' && !this.shipping_type) // No shipping type, or let it confirm if Hold is selected
        ) 
        {
        
          let errors = {
            emptyCart: false,
            noClient: false,
            noShippingDate: false,
            noShippingType: false
          }

          if (!this.orders[0]) {
            errors.emptyCart = true
          }

          if (!this.client.client_account) {
            errors.noClient = true
          }

          if (this.orders[0] && !this.shipping_date) {
            errors.noShippingDate = true
          }

          if (this.orders[0] && this.shipping_date != 'Esperar' && !this.shipping_type) {
            errors.noShippingType = true
          }

          this.$emit('noClient', errors)
          
        } else { // Everythinhg went fine!
          const newOrder = {
            client: this.client,
            // items: [...this.orders, ...this.pendings],
            order: this.orders, 
            pending: this.pendings, 
            notes: this.notes}
          
          // Sets other data
          newOrder.client.order_date = new Date()
          if (this.shipping_date === 'Esperar') {
            newOrder.client.shipping_date = null
          } else {
            newOrder.client.shipping_date = new Date(new Date(this.date).getFullYear(), new Date(this.date).getMonth(), new Date(this.date).getDate())
          }
          // this.orders[0] ? newOrder.order = true : newOrder.order = false
          // this.orders[0] ? newOrder.pending = true : newOrder.pending = false

          newOrder.client.deliver = this.deliver

          console.log(newOrder)
          const url = 'http://localhost:3000'
          const orderToAdd = await fetch(`${url}/api/cart/createOrder`, {
            method: 'POST',
            body: JSON.stringify(newOrder),
            headers:{
              'Content-Type': 'application/json'
            }  
          });
          // ******* AGREGAR MANEJO DE ERROR!!!!! *******
          const confirmation = await orderToAdd.json()
          console.log(confirmation);

          

          // Reset values
          this.cleanItems()
          this.shipping_date = this.formatDate(new Date().toISOString().substr(0, 10))
          this.shipping_type = ''
          this.$refs.shippingType.resetValidation()
          this.$emit('cleanNotes')
        }
        
      },
      allowedDates: val => ![5, 6].includes(new Date(val).getDay()),
      formatDate(str) {
        if (str != null) {
          return str.substring(8, 10)+'/'+str.substring(5, 7)+'/'+str.substring(0, 4);
        }
        return '';
      },
      ...mapActions(['cleanItems', 'setDate', 'setShippingType'])
    },
    computed: {
       ...mapGetters(['client','notes', 'orders', 'pendings']),
       switchLabel: function () { return this.deliver ? 'Enviar' : 'Esperar'}
    },
    watch: {
      date: function(val, oldVal) {
        this.shipping_date = this.formatDate(val);
      },
      deliver: function(val, oldVal) {
        if (val === false) {
          this.shipping_date = 'Esperar'
          this.disableDate = true
          this.shipping_type = 'A Confirmar'
        } else {
          this.disableDate = false
          this.shipping_date = this.formatDate(new Date().toISOString().substr(0, 10))
          this.shipping_type = ''
          this.$refs.shippingType.resetValidation()
        }
      }
    },
    created() {
      this.shipping_date = this.formatDate(new Date().toISOString().substr(0, 10))
      this.setDate(this.shipping_date);
    }
  }
</script>

<style>

</style>
