<template>
  <v-container>
    <v-card>
      <v-form v-model="valid" ref="form">
        <v-card-title>Alternativa</v-card-title>
        <v-card-text>

          <v-layout>
            <v-flex md1>
              <v-text-field v-model="patient_case" label="Caso"></v-text-field>
            </v-flex>
            <v-flex md3>
              <v-text-field v-model="product_name" label="Lente" readonly></v-text-field>
            </v-flex>
            <v-flex md1 v-if="graduation">
              <v-text-field v-model="graduation" label="Esférico" readonly></v-text-field>
            </v-flex>
            <v-flex md1 v-if="base_curve">
              <v-text-field v-model="base_curve" label="Curva Base"></v-text-field>
            </v-flex>

            <v-flex md1 v-if="cylinder">
              <v-text-field v-model="cylinder" label="Cilindro" readonly></v-text-field>
            </v-flex>
            <v-flex md1 v-if="axis">
              <v-text-field v-model="axis" label="Eje" readonly></v-text-field>
            </v-flex>

            <v-flex md1 v-if="addition">
              <v-text-field v-model="addition" label="Adición"></v-text-field>
            </v-flex>
            <v-flex md1 v-if="dominance">
              <v-text-field v-model="dominance" label="Dominancia"></v-text-field>
            </v-flex>

            <v-flex md1 v-if="color">
              <v-text-field v-model="color" label="Color"></v-text-field>
            </v-flex>

            <v-spacer></v-spacer>

            <v-flex md1 offset-md1>
              <v-text-field v-model.number="box" label="Caja" type="number" :messages="'Total: ' + boxStock" :rules="[boxRule]"></v-text-field>
            </v-flex> 
            <v-flex md1 >
              <v-text-field v-model.number="blister" label="Blister" type="number" :messages="'Total: ' + blisterStock" :rules="[blisterRule]"></v-text-field>
            </v-flex> 
            <v-flex md1>
              <v-btn fab dark small color="cyan" v-on:click="addItem('orders')">
              <v-icon dark>add</v-icon>
              </v-btn>
            </v-flex>

          </v-layout>
        </v-card-text>
      </v-form>
    </v-card>
  </v-container>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  props: {
      alternative: Object
  },
  data: () => ({
    valid: false,

    patient_case: '',
   
    
    box: '',
    blister: '',

    

  }),
  methods: {
    ...mapActions(['addNewItem', 'addItemQuantity']),
    boxRule(){
      if (this.box > this.boxStock[0]) {
        return `Solo hay ${this.boxStock[0]}`
      } else { return true }
    },
    blisterRule(){
      if (this.blister > this.blisterStock[0]) {
        return `Solo hay ${this.blisterStock[0]}`
      } else { return true }
    },
          
    addItem: function(order_type) {
      if (this.$refs.form.validate() && (this.box || this.blister)) { // checks form validation and stock
        const newItem = this.stock[this.product_name.product_name].find(lens => {
          return lens.id == this.currentId
        })
      newItem.patient_case = this.patient_case,
        // product_name: this.product_name.product_name,
        // graduation: this.graduation,
        // cylinder: this.cylinder,
        // axis: this.axis,
        // base_curve: this.base_curve,
        // addition: this.addition,
        // dominance: this.dominance,
        // color: this.color,
        // diameter: this.diameter,
      newItem.box = this.box ? this.box : 0,
      newItem.blister = this.blister ? this.blister : 0,

      newItem.product_name = this.product_name.product_name
      newItem.family = this.currentFamily
      newItem.type = this.currentType
      newItem.order_type = order_type
      
      console.log(newItem)
      this.addNewItem(newItem) // Add item to cart, it will be host it in the store
      
      this.cleanParams() // Clean lenses params
      this.cleanOtherParams() // Clean other params
      this.$emit('cleanAlternatives') // Clean alternatives on UI
        
      } 
    }
    
  },
  computed: {
    product_name: function() {return this.alternative.product_name},
    graduation: function() {return this.alternative.graduation},
    cylinder: function() {return this.alternative.cylinder},
    axis: function() {return this.alternative.axis},
    base_curve:  function() {return this.alternative.base_curve},
    addition:  function() {return this.alternative.addition},
    dominance:  function() {return this.alternative.dominance},
    color:  function() {return this.alternative.color},
    diameter:  function() {return this.alternative.diameter},
    boxStock:  function() {return [this.alternative.box]},
    blisterStock:  function() {return [this.alternative.blister]},
  }
}
</script>

<style scoped>

</style>
