<template>
  <v-container>
    <v-card>
      <v-form v-model="valid" ref="form">
        <v-card-title>Lente</v-card-title>
        <v-card-text>

          <v-layout>
              <v-flex md1>
                <v-text-field v-model="patient_case" label="Caso"></v-text-field>
              </v-flex>
              <v-flex md3>
                <v-autocomplete v-model="product_name" label="Lente" :items="lenses" item-text="product_name" return-object :rules="requiredRule" v-on:change="getStock($event.family, $event.lens_type), cleanParams()"></v-autocomplete>
              </v-flex>
              <v-flex md1>
                <v-autocomplete v-model="graduation" label="Esférico" :items="graduaciones" :rules="requiredRule" v-on:change="displayStock()"></v-autocomplete>
              </v-flex>
              <v-flex md1 v-if="product_name.product_name == 'Biomedics Evolution 55'">
                <v-autocomplete v-model="base_curve" label="Curva Base" :items="curvas" :rules="requiredRule" v-on:change="displayStock()"></v-autocomplete>
              </v-flex>

              <v-flex md1 v-if="product_name.lens_type == 'tor'">
                <v-autocomplete v-model="cylinder" label="Cilindro" :items="cilindros" :rules="requiredRule" v-on:change="displayStock()"></v-autocomplete>
              </v-flex>
              <v-flex md1 v-if="product_name.lens_type == 'tor'">
                <v-autocomplete v-model="axis" label="Eje" :items="ejes" :rules="requiredRule" v-on:change="displayStock()"></v-autocomplete>
              </v-flex>

              <v-flex md1 v-if="product_name.lens_type == 'mult'">
                <v-autocomplete v-model="addition" label="Adición" :items="adds" v-on:change="displayStock()"></v-autocomplete>
              </v-flex>
              <v-flex md1 v-if="product_name.lens_type == 'mult'">
                <v-autocomplete v-model="dominance" label="Dominancia" :items="dom" v-on:change="displayStock()"></v-autocomplete>
              </v-flex>

              <v-flex md1 v-if="product_name.lens_type == 'col'">
                <v-autocomplete v-model="color" label="Color" :items="colors" v-on:change="displayStock()"></v-autocomplete>
              </v-flex>

              <v-spacer></v-spacer>

              <v-flex md1>
                <v-text-field v-model.number="box" min="0" label="Caja" type="number" :messages="'Total: ' + boxStock" :rules="[boxRule, emptyRule]" v-on:change="validateAmmount()"></v-text-field>
              </v-flex> 
              <v-flex md1 >
                <v-text-field v-model.number="blister" min="0" label="Blister" type="number" :messages="'Total: ' + blisterStock" :rules="[blisterRule, emptyRule]" v-on:change="validateAmmount()"></v-text-field>
              </v-flex> 
              <v-flex md1>
                <v-btn fab dark small color="cyan" v-on:click="addItem('orders')">
                  <v-icon dark>add</v-icon>
                </v-btn>

                <v-tooltip top v-if="!inShipping">
                  <template v-slot:activator="{ on }">
                    <v-btn text icon small absolute right color="deep-orange" v-on="on" v-on:click="addItem('pendings')">
                      <v-icon>add</v-icon>
                    </v-btn>
                  </template>
                  <span>PENDIENTE</span>
                </v-tooltip>
                <v-tooltip top v-if="inShipping">
                  <template v-slot:activator="{ on }">
                    <v-btn text icon small absolute right color="deep-orange" v-on="on" v-on:click="addItem('pendings')">
                      <v-icon>mdi-ferry</v-icon>
                    </v-btn>
                  </template>
                  <span>RESERVAR</span>
                </v-tooltip>
              </v-flex>

          </v-layout>
        </v-card-text>
      </v-form>
    </v-card>
  </v-container>

</template>


<script>


import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    valid: false,

    patient_case: '',
    product_name: '',
    graduation: '',
    cylinder: '',
    axis: '',
    base_curve: '',
    addition: '',
    dominance: '',
    color: '',
    diameter: '',
    box: '',
    blister: '',

    lenses: [],
    stock: {},
    boxStock: [],
    blisterStock: [],

    currentId: 0,
    currentFamily: '',
    currentType: '',

    inShipping: false,

    requiredRule: [ v => !!v || 'Elija una opción' ]
    
  }),
  methods: {
    ...mapActions(['addNewItem', 'addItemQuantity']),
    // Rules for stock control.
    boxRule(){
      if (this.box > this.boxStock[0]) {
        return `Solo hay ${this.boxStock[0]}`
      } else { return true }
    },
    blisterRule(){
      if (this.blister > this.blisterStock[0]) {
        return `Solo hay ${this.blisterStock[0]}`
      } else { return true }
    },
    emptyRule(){
      if (this.box === '' && this.blister === '') {
        return 'No seleccionado'
      } else { return true }
    },
    validateAmmount() {
      this.$refs.form.inputs[3].validate()
      this.$refs.form.inputs[4].validate()
    },
  
    // Main method. Adds items to cart.      
    addItem: function(order_type, reserved) {
      if (this.$refs.form.validate() && (this.box || this.blister)) { // checks form validation and stock
        const newItem = this.stock[this.product_name.product_name].find(lens => {
          return lens.id == this.currentId
        })
        if (reserved) {newItem.reserved = true} 
        newItem.patient_case = this.patient_case,
          // product_name: this.product_name.product_name,
          // graduation: this.graduation,
          // cylinder: this.cylinder,
          // axis: this.axis,
          // base_curve: this.base_curve,
          // addition: this.addition,
          // dominance: this.dominance,
          // color: this.color,
          // diameter: this.diameter,
        newItem.box = this.box ? this.box : 0,
        newItem.blister = this.blister ? this.blister : 0,

        newItem.product_name = this.product_name.product_name
        newItem.family = this.currentFamily
        newItem.type = this.currentType
        newItem.order_type = order_type
        
        console.log(newItem)
        this.addNewItem(newItem) // Add item to cart, it will be host it in the store
        
        this.cleanParams() // Clean lenses params
        this.cleanOtherParams() // Clean other params
        this.$emit('cleanAlternatives') // Clean alternatives on UI
        
      } else { // Blister/box validation if null
        this.$refs.form.validate()
      }
    },
    async fecthProductsData() {
      const url = 'http://localhost:3000'
      const productsData = await fetch(`${url}/api/cart/getProductsData`);
      this.lenses = await productsData.json()

    },
    async getStock(family, type) {
      this.currentFamily = family
      this.currentType = type
      const url = 'http://localhost:3000/api/cart/'
			const stockData = await fetch(`${url}getStock?family=${family}&type=${type}`);
			let stock = await stockData.json()
      this.stock[this.product_name.product_name] = await stock

      await this.displayStock()
    },
    async findShipping() {
      const url = 'http://localhost:3000/api/cart/'
      const family = this.product_name.family
      const type = this.product_name.lens_type
      const id = this.product_name.id
			const resp = await fetch(`${url}findShipping?family=${family}&type=${type}&id=${this.currentId}`);
			const inShipping = await resp.json()
			this.inShipping = inShipping
    },
    // Checks the stock automaticaly, search alternatives on stock and display them
    displayStock() {
      const display = (item) => {
        console.log(item)
        this.currentId = item.id
        this.blisterStock = [item.blister]
        this.boxStock = [item.box]
        this.findShipping()
        return this.findAlternatives()
      }
      if (this.product_name) {
        this.stock[this.product_name.product_name].find(item => {
          switch (this.product_name.product_name) {
            case 'Biomedics Evolution 55':
              if (
                item.graduation == this.graduation &&
                item.base_curve == this.base_curve
              )  display(item)
              break

            case 'Biofinity':
            case 'Biofinity XR':
            case 'Proclear Sphere':
            case 'Clariti 1 Day: Esférico':
              if (
                item.graduation == this.graduation
              ) display(item)
              break

            case 'Biomedics Toric':
            case 'Biofinity Toric':
            case 'Biofinity Toric XR':
            case 'Clariti 1 Day: Tórico':
              if (
                item.graduation == this.graduation &&
                item.cylinder == this.cylinder &&
                item.axis == this.axis
              ) display(item)
              break

            case 'Proclear Multifocal':
            case 'Biofinity Multifocal':
            case 'Clariti 1 Day: Multifocal':
              if (
                item.graduation == this.graduation &&
                item.addition == this.addition &&
                item.dominance == this.dominance
              ) display(item)
              break

            case 'Expressions Color':
              if (
                item.graduation == this.graduation &&
                item.color == this.color
              ) display(item)
              break
          }
        })
      }
    },
    findAlternatives() {
      let gradIndex
      let cilIndex
      let axisIndex
      let addIndex
      let alternativeLenses

      switch (this.product_name.product_name) {
        case 'Biomedics Evolution 55':
        case 'Biofinity':
        case 'Biofinity XR':
        case 'Proclear Sphere':
        case 'Clariti 1 Day: Esférico':
          gradIndex = this.graduaciones.findIndex(grad => grad == this.graduation)
          //
          alternativeLenses = this.stock[this.product_name.product_name].filter(item => {
            if (
              (item.graduation == this.graduaciones[gradIndex + 1] ) ||
              (item.graduation == this.graduaciones[gradIndex - 1] )
            ) {
                item.product_name = this.product_name.product_name
                return item
              }
          })
          this.$emit('alternativeLenses', alternativeLenses)
          break

         
        case 'Biomedics Toric':
        case 'Biofinity Toric':
        case 'Biofinity Toric XR':
        case 'Clariti 1 Day: Tórico':
          gradIndex = this.graduaciones.findIndex(grad => grad == this.graduation)
          cilIndex = this.cilindros.findIndex(cyl => cyl == this.cylinder)
          axisIndex = this.ejes.findIndex(axis => axis == this.axis)
          //
          alternativeLenses = this.stock[this.product_name.product_name].filter(item => {
            if (
              (item.graduation == this.graduaciones[gradIndex + 1] && item.cylinder == this.cylinder && item.axis == this.axis) ||
              (item.graduation == this.graduaciones[gradIndex - 1] && item.cylinder == this.cylinder && item.axis == this.axis) ||
              (item.cylinder == this.cilindros[cilIndex + 1] && item.graduation == this.graduation && item.axis == this.axis) ||
              (item.cylinder == this.cilindros[cilIndex - 1] && item.graduation == this.grduation && item.axis == this.axis) ||
              (item.axis == this.ejes[axisIndex + 1] && item.graduation == this.graduation && item.cylinder == this.cylinder)||
              (item.axis == this.ejes[axisIndex - 1] && item.graduation == this.graduation && item.cylinder == this.cylinder)
            ) {
                item.product_name = this.product_name.product_name
                return item
            }
          })
          this.$emit('alternativeLenses', alternativeLenses)
          break;

        case 'Proclear Multifocal':
        case 'Biofinity Multifocal':
        case 'Clariti 1 Day: Multifocal':
          gradIndex = this.graduaciones.findIndex(grad => grad == this.graduation)
          addIndex = this.adds.findIndex(add => add == this.addition)
          //
          alternativeLenses = this.stock[this.product_name.product_name].filter(item => {
            if (
              (item.graduation == this.graduaciones[gradIndex + 1] && item.addition == this.addition && item.dominance == this.dominance) ||
              (item.graduation == this.graduaciones[gradIndex - 1] && item.addition == this.addition && item.dominance == this.dominance) ||
              (item.graduation == this.graduation && item.addition == this.adds[addIndex + 1] && item.dominance == this.dominance) ||
              (item.graduation == this.graduation && item.addition == this.adds[addIndex - 1] && item.dominance == this.dominance)
            ) {
                item.product_name = this.product_name.product_name
                return item
            }
          })
          this.$emit('alternativeLenses', alternativeLenses)
          break;

        case 'Expressions Color':
          gradIndex = this.graduaciones.findIndex(grad => grad == this.graduation)
          //
          alternativeLenses = this.stock[this.product_name.product_name].filter(item => {
            if (
              (item.graduation == this.graduaciones[gradIndex + 1] && item.color == this.color) ||
              (item.graduation == this.graduaciones[gradIndex - 1] && item.color == this.color)
            ) {
                item.product_name = this.product_name.product_name
                return item
              }
          })
          this.$emit('alternativeLenses', alternativeLenses)
          break
      }
      
    },
    // Clean lenses params
    cleanParams() {
      this.graduation = ''
      this.cylinder = ''
      this.axis = ''
      this.base_curve = ''
      this.addition = ''
      this.dominance = ''
      this.color = ''
      this.diameter = ''

      this.box = ''
      this.blister = ''
      this.boxStock = []
      this.blisterStock = []
      this.inShipping = false

      this.$emit('cleanAlternatives', true)
      this.$refs.form.resetValidation()
    },
    // Clean other params, reset validation and emit to father to clean alternatives
    cleanOtherParams() {

      this.patient_case = ''
      this.product_name = ''
      this.box = ''
      this.blister = ''
      this.boxStock = []
      this.blisterStock = []

      this.$refs.form.resetValidation()
      // this.$emit('cleanAlternatives')
    }
  },
  computed: {
    // Fills all the autocompletes with product's data
    graduaciones: function(){return this.product_name ? this.product_name.graduations.split(",") : []},
    cilindros: function(){return this.product_name ? this.product_name.cylinders.split(",") : []},
    ejes: function(){return this.product_name ? this.product_name.axes.split(",") : []},
    curvas: function(){return this.product_name ? this.product_name.base_curves.split(",") : []},
    adds: function(){return this.product_name ? this.product_name.additions.split(",") : []},
    dom: function(){return this.product_name ? this.product_name.dominances.split(",") : []},
    colors: function(){return this.product_name ? this.product_name.colors.split(",") : []},
    
    // ...mapGetters(['items']),
  },
  created: function () {
    // Get the product data to fill the autocompletes
    this.fecthProductsData();
    
  }
}
</script>

<style scoped>

</style>
