<template>
  <v-app>
    <v-content>
      <v-layout>
        <v-flex md12>
          <ClientLensSearch
           :validateProp="validateClient"
           ref="clientSearchComponent"
          />
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex md8>
          <LensSearch
            v-on:alternativeLenses="passAlternatives"
            v-on:cleanAlternatives="cleanAlternatives"
            ref="lensComponent"
          />
          <LensOptions
          v-on:cleanAlternatives="cleanAlternatives"
          v-for="(alternative, index) in alternatives"
            :key="index"
            :alternative="alternative"
          />
        </v-flex>
        <v-flex md4>
          <CartOrder ref="cartOrder" key="orders" order_type="orders"/>
          <CartOrder ref="cartPending" v-if="pendings[0]" key="pendings"/>
          <ConfirmOrder v-on:noClient="validateClientForm" v-on:cleanNotes="cleanNotes"/>
          <SnackErrors :errors="errors"/>
        </v-flex>
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
import LensSearch from './LensSearch'
import CartOrder from './CartOrder'
import ClientLensSearch from './ClientLensSearch'
import ConfirmOrder from './ConfirmOrder'
import LensOptions from './LensOptions'
import SnackErrors from '../components/SnackErrors'

import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
    LensSearch,
    LensOptions,
    CartOrder,
    ClientLensSearch,
    ConfirmOrder,
    SnackErrors,
  },
  data () {
    return {
      alternatives: [],

      validateClient: false,
      errors: {}
    }
  },
  methods: {
    passAlternatives(alternatives) {
      this.alternatives = alternatives
    },
    cleanAlternatives(keepOthersParams) {
      this.alternatives = []
      keepOthersParams ? null : this.$refs.lensComponent.cleanOtherParams()
    },
    validateClientForm(errors) {
      this.$refs.clientSearchComponent.$refs.form.validate()
      this.errors = errors
    },
    cleanNotes(){
      this.$refs.cartOrder.notes = ''
      if (this.pendings[0]) {
        this.$refs.cartPending.notes = ''
      }
      this.$refs.clientSearchComponent.account = ''
      this.$refs.clientSearchComponent.nickname = ''
      this.$refs.clientSearchComponent.business_name = ''
      this.$refs.clientSearchComponent.contact = ''
      this.$refs.clientSearchComponent.$refs.form.resetValidation()
    }

  },
  computed: {
    ...mapGetters(['pendings'])
  },
  created() {
    
  }
  
}
</script>
