<template>
	<div>
		<v-card>
			<v-card-title>
				Pendientes
				<v-spacer></v-spacer>
				<v-text-field
					v-model="search"
					append-icon="search"
					label="Search"
					single-line
					hide-details
					
				></v-text-field>
			</v-card-title>
		</v-card>
		
		<v-data-table
			:headers="headers"
			:items="items"
			:search="search"
			class="elevation-1 tabla"
			hide-default-footer
			calculate-widths
			multi-sort
			:sort-by="['order_date']"
		>
			<template v-slot:item.color="props">
			<td class="">{{ props.item.base_curve || props.item.cylinder || props.item.addition || props.item.color }}</td>
			</template>
			<template v-slot:item.axis="props">
			<td class="">{{ props.item.axis || props.item.dominance }}</td>
			</template>

		</v-data-table> 
	</div>
</template>

<script>

export default {
	name: 'Pending',
  data () {
    return {

			headers: [
        {text: 'Cliente', value: 'client_account', align: 'left'},
        {text: 'Contacto', value: 'contact', align: 'left'},
        {text: 'Fecha', value: 'order_date', align: 'left'},
        {text: 'Orden', value: 'order_id', align: 'left'},
        {text: 'Lente', value: 'product_name', align: 'left'},
        {text: '', value: 'graduation', align: 'center'},
        {text: '', value: 'color', align: 'center'},
        {text: '', value: 'axis', align: 'center'},
        {text: 'Caja', value: 'box', sortable: false, align: 'right'},
        {text: 'Blis', value: 'blister', sortable: false, align: 'right'},
        {text: 'Caso', align: 'left', sortable: false, value: 'patient_case', align: 'center'},
			],
			
			search: '',

			items: [],
			orders: []
    }
  },
  methods: {
		async getPendings() {
			const url = 'http://localhost:3000/api/cart/'
      const pendingsData = await fetch(`${url}getPendings`);
      let pendings = await pendingsData.json()
		 

      pendings.items.forEach((item, i) => {
				let order = pendings.ordersData.find(order => {
					return order.order_id == item.order_id
				})
				item.client_account = order.client_account
				item.contact = order.contact
				item.order_date = new Date(order.order_date).toLocaleString()
			});
			
			this.items = pendings.items
			console.log(this.items)
		}
	},
	created() {
		this.getPendings()
	}
  
}
</script>

<style>

</style>