<template>
	<div>
		<OrdersDisplayToolbar v-on:getOrders="displayOrders" v-on:toggleDispatched="toggleDispatched" v-on:getHold="getHold"/>
		<v-expansion-panels inset multiple >
			<v-expansion-panel
				v-for="order in ordersToDisplay"
				:key="order.order_id"
				class="panel"
			>
			
				<v-expansion-panel-header>Cliente: {{order.client_account}}: {{order.nickname}} - Nro: {{order.order_id}} <span v-if="order.shipping_date"> - Envío: {{new Date(order.shipping_date).toLocaleString()}}, {{order.shipping_type}} </span><v-spacer/>  Cajas: {{order.boxes}}, Blisters: {{order.blisters}}</v-expansion-panel-header>
				<v-expansion-panel-content>
					<Order :items="order.items" :orderInfo="order"/>
					<v-checkbox v-if="order.type != 'Esperar'"  label="Enviado" :input-value="order.dispatched" v-on:change="dispatch(order.order_id, $event)" />
				</v-expansion-panel-content>
			</v-expansion-panel>
			
		</v-expansion-panels>
	</div>
</template>

<script>

import Order from '../clientsModule/Order'
import OrdersDisplayToolbar from './OrdersDisplayToolbar'

export default {
	name: 'Pending',
	components: {
		Order,
		OrdersDisplayToolbar
  },
  data () {
    return {

			headers: [
        {text: 'Cliente', value: 'client_account', align: 'left'},
        {text: 'Contacto', value: 'contact', align: 'left'},
        {text: 'Fecha', value: 'order_date', align: 'left'},
        {text: 'Entrega', value: 'shipping_date', align: 'left'},
        {text: 'Orden', value: 'order_id', align: 'left'},
        {text: 'Lente', value: 'product_name', align: 'left'},
        {text: '', value: 'graduation', align: 'center'},
        {text: '', value: 'color', align: 'center'},
        {text: '', value: 'axis', align: 'center'},
        {text: 'Caja', value: 'box', sortable: false, align: 'right'},
        {text: 'Blis', value: 'blister', sortable: false, align: 'right'},
        {text: 'Caso', align: 'left', sortable: false, value: 'patient_case', align: 'center'},
			],
			
			clients: [],
			orders: [],

			showDispatched: false
			
    }
  },
  methods: {
		async displayOrders(when = '>=', date = new Date(),  to = when, date2 = date) {

			this.orders = []
			const url = 'http://localhost:3000/api/cart/'
      const ordersData = await fetch(`${url}getOrdersByDate?when=${when}&date=${date}&to=${to}&date2=${date2}`);
			let orders = await ordersData.json()
			this.orders = orders.orders
			

			this.orders.forEach((order, i) => {
        let itemsPerOrder = []
        orders.items.forEach((item, j) => {
          if (item.order_id == order.order_id) {
            itemsPerOrder.push(item)
            // orders.items.splice(j, 1)
          }
        })
        this.orders[i].items = itemsPerOrder
			});
			
		},
		async getHold() {
			this.orders = []
			const url = 'http://localhost:3000/api/cart/'
      const holdData = await fetch(`${url}getHold`);
			let hold = await holdData.json()
			this.orders = hold.ordersData
			
			this.orders.forEach((order, i) => {
        let itemsPerOrder = []
        hold.items.forEach((item, j) => {
          if (item.order_id == order.order_id) {
            itemsPerOrder.push(item)
            // orders.items.splice(j, 1)
          }
        })
        this.orders[i].items = itemsPerOrder
			});
        
		},
   	formatDate(str) {
			if (str != null) {
				return str.substring(8, 10)+'/'+str.substring(5, 7)+'/'+str.substring(0, 4);
			}
			return '';
		},
		toggleDispatched(value) {
			this.showDispatched = value
		},
		async dispatch(id, value) {
			const url = 'http://localhost:3000/api/cart/'
			const res = await fetch(`${url}dispatch`, {
				method: 'PATCH',
				body: JSON.stringify({id, value}),
				headers: {'Content-Type': 'application/json'}
			});
			const response = await res.json()
			
			let orderIndex = this.orders.findIndex(order => {
				return order.order_id == id
			})
			if (orderIndex != -1) {
				this.orders[orderIndex].dispatched = !this.orders[orderIndex].dispatched
			}
		}
		
	},
	computed: {
		ordersToDisplay: function() {
			return !this.showDispatched ?
				this.orders.filter(order => {
					return !order.dispatched
				}) :
				this.orders
		}
	},
	created() {
		// this.displayOrders('==') // Today's orders
	}
  
}
</script>

<style>

</style>