<template>
	<div>
    <v-toolbar>

      <v-toolbar-items>
        <v-btn text @click="today()">Hoy</v-btn>
        <v-btn text @click="thisWeek()">Esta semana</v-btn>
        <v-btn text @click="previous()">Anteriores</v-btn>
        <v-btn text @click="following()">Próximas</v-btn>
        <v-btn text @click="hold()">Esperar</v-btn>
      </v-toolbar-items>

				<v-menu 
					v-model="menu1"
					:nudge-right="40"
					transition="scale-transition"
					offset-y
					full-width
					min-width="290px"
				>
					<template v-slot:activator="{ on }">
						<v-text-field
							v-model="from"
							label="Desde"
							prepend-icon="event"
							v-on="on"
							clearable
							hide-details
						></v-text-field>
					</template>
					<v-date-picker v-model="from" @input="menu1 = false" v-on:change="fromTo()" locale="es-419"></v-date-picker>
				</v-menu>

				<v-menu
					v-model="menu2"
					:nudge-right="40"
					transition="scale-transition"
					offset-y
					full-width
					min-width="290px"
				>
					<template v-slot:activator="{ on }">
						<v-text-field
							v-model="to"
							label="Hasta"
							prepend-icon="event"
							v-on="on"
							clearable
							hide-details
						></v-text-field>
					</template>
					<v-date-picker v-model="to" @input="menu2 = false" v-on:change="fromTo()"></v-date-picker>
				</v-menu>

				<v-text-field
					v-model="orderToSearch"
					type="number"
					min="0" 
					label="Nro de Orden"
					append-icon="search"
					hide-details
					v-on:change="searchOrder()"
					></v-text-field>

 				<v-checkbox v-model="showDispatched" label="Mostrar Enviados" hide-details v-on:change="toggleDispatched(showDispatched)"/>


     
    </v-toolbar>
	</div>
</template>

<script>
export default {
	  data () {
    	return {
				menu1: false,
				menu2: false,
				
				from: '',
				to: '',

				orderToSearch: '',

				showDispatched: false
			}
		},
		methods: {
			today() {
				const today = new Date(new Date().getFullYear(),new Date().getMonth() , new Date().getDate())
				this.$emit('getOrders', '=', today)
			},
			thisWeek() {
				let today = new Date(new Date().getFullYear(),new Date().getMonth() , new Date().getDate())
				// Get the monday
				let day = today.getDay(),
						diff = today.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
				let monday = new Date(today.setDate(diff))

				// Get the friday
				let friday = new Date()
				friday.setDate(monday.getDate()+4)


				this.$emit('getOrders', '>=', today, '<=', friday)
			},
			previous() {
				this.$emit('getOrders', '<=' )
			},
			following() {
				this.$emit('getOrders', '>=')
			},
			fromTo() {
				let from = new Date(new Date(this.from).getFullYear(),new Date(this.from).getMonth() , new Date(this.from).getDate())
				let to = this.to ? new Date(new Date(this.to).getFullYear(),new Date(this.to).getMonth() , new Date(this.to).getDate()) : undefined
				this.$emit('getOrders', '>=', from, '<=', to)
			},
			hold() {
				this.$emit('getHold')
			},
			toggleDispatched(value) {
				this.$emit('toggleDispatched', value)
			},
			searchOrder(){
				console.log(this.orderToSearch.length)
			}

		}


}
</script>

<style>

</style>