<template>
	<div>
		<v-card>
			<v-card-title>
				Stock
				<v-spacer></v-spacer>
				<v-autocomplete v-model="product_name" label="Lente" :items="lenses" item-text="product_name" return-object v-on:change="getStock($event.family, $event.lens_type)"></v-autocomplete>
				<v-text-field
					v-model="search"
					append-icon="search"
					label="Search"
					single-line
					
				></v-text-field>
			</v-card-title>
		</v-card>
		
		<v-data-table
			:headers="headers"
			:items="elements"
			:search="search"
			class="elevation-1 tabla"
			calculate-widths
			multi-sort
			:items-per-page=25
			:footer-props="{
				itemsPerPageOptions: [100, 50, 25],
			}"
		>
			<template v-slot:item.color="props">
			<td class="">{{ props.item.base_curve || props.item.cylinder || props.item.addition || props.item.color }}</td>
			</template>
			<template v-slot:item.axis="props">
			<td class="">{{ props.item.axis || props.item.dominance }}</td>
			</template>

			<!-- <template v-slot:item.color="props">
			<td class="">{{ props.item.base_curve || props.item.cylinder || props.item.addition || props.item.color }}</td>
			</template>
			<template v-slot:item.axis="props">
			<td class="">{{ props.item.axis || props.item.dominance }}</td>
			</template> -->
		
			<template v-slot:body.prepend>
          <tr>
            <td style="width: 110px">
              <v-autocomplete v-model="param1" label="Esférico" :items="graduaciones" clearable></v-autocomplete>
            </td>
            <td style="width: 110px" v-if="product_name.product_name == 'Biomedics Evolution 55'">
              <v-autocomplete v-model="param2" label="Curva Base" :items="curvas" clearable></v-autocomplete>
            </td>
            <td style="width: 110px" v-if="product_name.lens_type == 'tor'">
              <v-autocomplete v-model="param2" label="Cilindro" :items="cilindros" clearable></v-autocomplete>
            </td>
            <td style="width: 110px" v-if="product_name.lens_type == 'tor'">
              <v-autocomplete v-model="param3" label="Eje" :items="ejes" clearable></v-autocomplete>
            </td>
            <td style="width: 110px" v-if="product_name.lens_type == 'mult'">
              <v-autocomplete v-model="param2" label="Adición" :items="adds" clearable></v-autocomplete>
            </td>
            <td style="width: 110px" v-if="product_name.lens_type == 'mult'">
              <v-autocomplete v-model="param3" label="Dominancia" :items="dom" clearable></v-autocomplete>
            </td>
            <td style="width: 110px" v-if="product_name.lens_type == 'col'">
              <v-autocomplete v-model="param2" label="Color" :items="colors" clearable></v-autocomplete>
            </td>
            <td colspan="2"></td>
          </tr>
        </template>

				<template v-slot:item.boxEdit="props">
					<td ><v-text-field type="number" v-on:change="editStock(props.item, $event, 'box')"></v-text-field></td>
					</template>
					<template v-slot:item.blisterEdit="props">
					<td ><v-text-field type="number" v-on:change="editStock(props.item, $event, 'blister')"></v-text-field></td>
				</template>
				

		</v-data-table> 
	</div>
</template>

<script>

export default {
	name: 'Stock',
  components: {
  },
  data () {
    return {
			headers: [
        {text: '', value: 'graduation', align: 'center', width: '120px', filter: value => {
            if (!this.param1) return true

            return value == this.param1
          }},
        {text: '', value: 'color', align: 'center', width: '120px', filter: value => {
            if (!this.param2) return true

            return value == this.param2
          }},
        {text: '', value: 'axis', align: 'center', width: '120px', filter: value => {
            if (!this.param3) return true

            return value == this.param3
          }},
        {text: 'Caja', value: 'box', sortable: false, align: 'right', width: '120px'},
        {text: 'Modificar', value: 'boxEdit', sortable: false, align: 'center', width: '120px'},
        {text: 'Blis', value: 'blister', sortable: false, align: 'right', width: '120px'},
        {text: 'Modificar', value: 'blisterEdit', sortable: false, align: 'center', width: '120px'}
			],
			
			grad: '',
			cyl: '',
			search: '',
			axis: '',

			param1: '',
			param2: '',
			param3: '',

			header1: '',
			header2: '',
			header3: '',

			product_name: '',
			lenses: [],
			product: {},

			elements: [],

			toEditStock: {}
    }
  },
  methods: {
		editStock(item, ammount, pack) {
			// !this.toEditStock[item.product_name].length ? this.toEditStock[item.product_name] = [] : ''
			const itemToEdit = {
				graduation: item.graduation,
				cylinder: item.cylinder,
				axis: item.axis,
				[pack]: ammount
				}
			// toEditStock[item.family + item.product_type].push(itemToEdit)
			this.toEditStock[item.product_name].push(itemToEdit)
			console.log(this.toEditStock)
		},
		async getStock(family, type) {
			const url = 'http://localhost:3000/api/cart/'
			const stockData = await fetch(`${url}getStock?family=${family}&type=${type}`);
			let stock = await stockData.json()
			this.elements = await stock
			console.log(this.elements)
		},
		async getLenses() {
			const url = 'http://localhost:3000'
      const productsData = await fetch(`${url}/api/cart/getProductsData`);
      this.lenses = await productsData.json()
		},
		async fecthProductsData() {
      const url = 'http://localhost:3000'
      const productsData = await fetch(`${url}/api/cart/getProductsData`);
      this.lenses = await productsData.json()
    }
	},
	computed: {
		// Fills all the autocompletes with product's data
    graduaciones: function(){return this.product_name ? this.product_name.graduations.split(",") : []},
    cilindros: function(){return this.product_name ? this.product_name.cylinders.split(",") : []},
    ejes: function(){return this.product_name ? this.product_name.axes.split(",") : []},
    curvas: function(){return this.product_name ? this.product_name.base_curves.split(",") : []},
    adds: function(){return this.product_name ? this.product_name.additions.split(",") : []},
    dom: function(){return this.product_name ? this.product_name.dominances.split(",") : []},
    colors: function(){return this.product_name ? this.product_name.colors.split(",") : []},
	},
	created() {
		this.getLenses()
		// this.getStock('biom', 'tor')
	}
  
}
</script>

<style>

</style>