<template>
  <div>
    <v-app-bar color="primary" dark >
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>Ocular Lens</v-toolbar-title>

			<v-layout justify-center row fill-height class="link">

						<v-btn depressed large color="primary" min-height="100%"><router-link to="/compras">Compras</router-link></v-btn>
						<v-btn depressed large color="primary" min-height="100%"><router-link to="/clientes">Clientes</router-link></v-btn>
						<v-btn depressed large color="primary" min-height="100%"><router-link to="/stock">Stock</router-link></v-btn>
						<v-btn depressed large color="primary" min-height="100%"><router-link to="/pendientes">Pendientes</router-link></v-btn>
						<v-btn depressed large color="primary" min-height="100%"><router-link to="/ordenes">Órdenes</router-link></v-btn>
						<v-btn depressed large color="primary" min-height="100%"><router-link to="/embarques">Embarques</router-link></v-btn>
			</v-layout>

      <!-- <v-spacer></v-spacer> -->

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="n in 5"
            :key="n"
            @click="() => {}"
          >
            <v-list-item-title>Option {{ n }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<style scoped>
.link * {
  color: white;
  text-decoration: none
}
</style>