<template>
	<v-snackbar v-model="snackbar" vertical="">

		<span v-if="errors.emptyCart">{{ errorEmptyCart }}</span>
		<span v-if="errors.noClient">{{ errorNoClient }}</span>
		<span v-if="errors.noShippingDate">{{ errorNoShippingDate }}</span>
		<span v-if="errors.noShippingType">{{ errorNoShippingType }}</span>
		
		<v-btn
			color="pink"
			text
			@click="snackbar = false"
		>
			CERRAR
		</v-btn>
	</v-snackbar>
</template>

<script>
export default {
	props: {
		errors: Object
	},
	data: () => ({
		snackbar: false,
		errorEmptyCart: 'No hay artículos en el carrito',
		errorNoClient: 'Selecciona un cliente',
		errorNoShippingDate: 'Selecciona fecha de envío',
		errorNoShippingType: 'Selecciona destino de envío',
	}),
	watch: {
		errors(n, o) {
			this.snackbar = true
		}
	}


}
</script>

<style scoped>

</style>
