<template>
	<div>
		<v-expansion-panels multiple >
			<v-expansion-panel
				v-for="shipping in shippings"
				:key="shipping.id"
				class="panel"
			>
			
				<v-expansion-panel-header>Embarque E{{shipping.shipping_id}} - Estado: {{shipping.status}} - Fecha: {{new Date(shipping.estimated_arrival).toLocaleDateString()}} </v-expansion-panel-header>
				<v-expansion-panel-content>
					<ShippingDetail :items="shipping.items" :shippingInfo="shipping"/>
				</v-expansion-panel-content>
			</v-expansion-panel>
			
		</v-expansion-panels>
	</div>
</template>

<script>
import ShippingDetail from './ShippingDetail'

export default {
	name: 'Stock',
  components: {
		ShippingDetail,
  },
  data () {
    return {
			shippings: []
			
    }
  },
  methods: {
		async getShippings() {
			const url = 'http://localhost:3000/api/cart/'
			const shippingsData = await fetch(`${url}getShippings`);
			let shippings = await shippingsData.json()
			this.shippings = shippings.shippingsData
			

			this.shippings.forEach((shipping, i) => {
				let itemsPerShipping = []
				shippings.items.forEach((item, j) => {
					if (item.shipping_id == shipping.shipping_id) {
						itemsPerShipping.push(item)
						// shippings.items.splice(j, 1)
					}
				})
				this.shippings[i].items = itemsPerShipping
			}); 

			console.log(this.shippings)
		},
		// formatDate(date) {
		// 	return new Date(date).toLocaleDateString()
		// }
	},
	created() {
		this.getShippings()
	}

}
</script>

<style>

</style>