<template>
<div>
  <v-card>
			<v-card-title>
				<!-- Título -->
				<v-spacer></v-spacer>
				<v-text-field
					v-model="search"
					append-icon="search"
					label="Search"
					single-line
					hide-details
					
				></v-text-field>
			</v-card-title>
		</v-card>
  <v-data-table
    :headers="headers"
    :items="items"
    :search="search"
    class="elevation-1 tabla"
    calculate-widths 
  >

    <template v-slot:item.color="props">
    <td class="">{{ props.item.base_curve || props.item.cylinder || props.item.addition || props.item.color }}</td>
    </template>
     <template v-slot:item.axis="props">
    <td class="">{{ props.item.axis || props.item.dominance }}</td>
    </template>


  </v-data-table> 

</div>
</template>

<script>

export default {
	props: {
		items: Array,
		orderInfo: Object
	},
  data () {
      return {
        headers: [
          {text: 'Lente', value: 'product_name', align: 'left'},
          {text: '', value: 'graduation', align: 'center'},
          {text: '', value: 'color', align: 'center'},
          {text: '', value: 'axis', align: 'center'},
          {text: 'Caja', value: 'box', sortable: false, align: 'right'},
          {text: 'Disponibles', value: 'box_available', sortable: false, align: 'center'},
          {text: 'Blis', value: 'blister', sortable: false, align: 'right'},
          {text: 'Disponibles', value: 'blister_available', sortable: false, align: 'center'},
        ],

        search: ''

      }
    },
  methods: {

  },
  computed: {
  },
	created() {
		// console.log(this.orderInfo)
		// console.log(this.items)
		// console.log(this.orderInfo.orders)
	}
}

</script>

<style scoped>


</style>