<template>
    <v-form v-model="valid" ref="form">
    <v-container>
      <v-layout>
        <v-flex xs12 md3>
          <v-autocomplete
            v-model="account"
            label="Nro de cuenta"
            :items="clients"
            item-text="account"
            return-object
            v-on:change="fillClient($event)"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 md3>
          <v-autocomplete
            v-model="nickname"
            label="Nombre"
            :items="clients"
            item-text="nickname"
            return-object
            v-on:change="fillClient($event)"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 md3>
          <v-autocomplete
            v-model="business_name"
            label="Razón Social"
            :items="clients"
            item-text="business_name"
            return-object
            v-on:change="fillClient($event)"
          ></v-autocomplete>
        </v-flex>

        <v-flex md3>
          <v-text-field
            label="Search"
            v-model="toSearch"
            v-on:keyup="search(toSearch, account)"
          >
          </v-text-field>
        </v-flex>
      </v-layout>
  </v-container>
    </v-form>
</template>

<script>


export default {
  data: function() {
    return { 
      valid: false,

      account: '',
      nickname: '',
      business_name: '',

      clients: [],

      toSearch: ''


    }
  },
  methods: {
    async fecthClientsData() {
      const url = 'http://localhost:3000/api/cart/'
      const clientsData = await fetch(`${url}getClientsData`);
      this.clients = await clientsData.json()
    },
    fillClient(event) {
      this.account = event.account;
      this.nickname = event.nickname;
      this.business_name = event.business_name;

      this.$emit('clientSelected', this.account)
    },
    search(value, account) {
      this.$emit('search', value, account)
    }
    
  },
  computed: {
  },
  created: function () {
    this.fecthClientsData();
  },

}
</script>

<style>

</style>
