<template>
  <v-app>
    <v-content>
      <ClientSearch v-on:clientSelected="getClientOrders" v-on:search="search" />
      <ClientData />
      <h3 class="panel">holalaa</h3>
      <v-expansion-panels inset multiple >
        <v-expansion-panel
          v-for="order in ordersToDisplay"
          :key="order.id"
          class="panel"
        >
          <v-expansion-panel-header>Orden: {{order.order_id}} - {{new Date(order.order_date).toLocaleDateString()}} <v-spacer/> {{order.order_type}}</v-expansion-panel-header>
          <v-expansion-panel-content>
            <Order :items="order.items" :orderInfo="order"/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        
      </v-expansion-panels>
    </v-content>
  </v-app>
</template>

<script>
import ClientSearch from './ClientSearch'
import ClientData from './ClientData'
import Order from './Order'

export default {
  name: 'Clients',
  components: {
    ClientSearch,
    ClientData,
    Order
  },
  data () {
    return {
      totalOrders: [],
      totalPendings: [],

      ordersPerClient: {},

      ordersToDisplay: [],

      orders: []
    }
  },
  methods: {
    async getOrders(clientAccount, type) {

      const url = 'http://localhost:3000/api/cart/'
      const clientsData = await fetch(`${url}getOrders?account=${clientAccount}`);
      let orders = await clientsData.json()
      this.ordersToDisplay = await orders.ordersData
      console.log(orders)

      this.ordersToDisplay.forEach((order, i) => {
        let itemsPerOrder = []
        orders.items.forEach((item, j) => {
          if (item.client == order.clientAccount) {
            itemsPerOrder.push(item)
            orders.items.splice(j, 1)
          }
        })
        this.ordersToDisplay[i].items = itemsPerOrder
      });
          
      this.ordersPerClient[clientAccount] = this.ordersToDisplay
      
    },
    getClientOrders(clientAccount) {
      if (this.ordersPerClient[clientAccount]) {
        return this.ordersToDisplay = this.ordersPerClient[clientAccount]
      } else {
        this.ordersToDisplay = []

        this.getOrders(clientAccount, 'orders')
        this.getOrders(clientAccount, 'pendings')
      }
    },
    search(query, clientAccount) {
      this.ordersToDisplay = this.ordersPerClient[clientAccount].filter(o =>
        { return Object.keys(o).some(k => {
            if(typeof o[k] === 'string')
              {return o[k].toLowerCase().includes(query.toLowerCase())}
              ; });})
    }
  },
  created() {
  }
}
</script>

<style scoped>
/* .panel {
  opacity: 1;
  transition: opacity 3s ease 0s
} */
</style>
