<template>
<div>
  
  <v-data-table
    :headers="headers"
    :items="items"
    class="elevation-1 tabla"
    hide-default-footer
    calculate-widths 
  >
    <template v-slot:top>
				<v-card flat>
					<v-layout>
						<v-flex md3><span>Contacto: {{orderInfo.contact}}</span></v-flex>
						<v-flex md3><span>Envío: {{new Date(orderInfo.shipping_date).toLocaleDateString()}}</span></v-flex>
						<v-flex md3><span>Destino: {{orderInfo.shipping_type}}</span></v-flex>
						<v-flex md3><span>Vendedor: Laura</span></v-flex>
					</v-layout>
				</v-card>
			<v-divider></v-divider>
    </template>
    
    <!-- <template v-slot:items="props">
      <td class="">{{ props.item.product_name }}</td>
      <td class="">{{ props.item.graduation }}</td>
      <td class="">{{ props.item.base_curve || props.item.cylinder || props.item.addition || props.item.color }}</td>
      <td class="">{{ props.item.axis || props.item.dominance }}</td>
      <td class="">{{ props.item.box }}</td>
      <td class="">{{ props.item.blister }}</td>
      <td class="">{{ props.item.patient_case }}</td>
    </template> -->

    <template v-slot:item.color="props">
    <td class="">{{ props.item.base_curve || props.item.cylinder || props.item.addition || props.item.color }}</td>
    </template>
     <template v-slot:item.axis="props">
    <td class="">{{ props.item.axis || props.item.dominance }}</td>
    </template>

    <template v-slot:item.box="props">
      <v-edit-dialog
        :return-value.sync="props.item.box"
        large
        persistent
       
      >
        <div>{{ props.item.box }}</div>
        <template v-slot:input>
          <div class="mt-4 title">Update Box</div>
        </template>
        <template v-slot:input>
          <v-text-field
            v-model.number="props.item.box"
            type="number"
            label="Edit"
            single-line
            autofocus
          ></v-text-field>
        </template>
      </v-edit-dialog>
    </template>

		<template v-slot:footer>
        <div>
          Comentarios: {{orderInfo.notes}}
        </div>
      </template>


      
  </v-data-table> 

</div>
</template>

<script>

export default {
	props: {
		items: Array,
		orderInfo: Object
	},
  data () {
      return {
        headers: [
          {text: 'Lente', value: 'product_name', align: 'left'},
          {text: '', value: 'graduation', align: 'center'},
          {text: '', value: 'color', align: 'center'},
          {text: '', value: 'axis', align: 'center'},
          {text: 'Caja', value: 'box', sortable: false, align: 'right'},
          {text: 'Blis', value: 'blister', sortable: false, align: 'right'},
          {text: 'Caso', align: 'left', sortable: false, value: 'patient_case'},
        ],

      }
    },
  methods: {

  },
  computed: {
  },
	created() {
		// console.log(this.orderInfo)
		// console.log(this.items)
		// console.log(this.orderInfo.orders)
	}
}

</script>

<style scoped>


</style>